
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />

</head>
<body class="container">
    <h1 class="h1">Welcome To BookStore Application</h1>
    <p>This is the home page of bookstore application</p>

    <input type="button" value="Click me" class="btn btn-danger"/>

    <img src="~/images/logo.jpg" class="logo" alt="logo" />
</body>
<script src="~/lib/jquery/jquery.js"></script>

</html>

<script>
    $(document).ready(function () {
        alert("Page has been loaded");
    });
</script>
